---
swagger: "2.0"
info:
  description: "Does Mandelbrot computation"
  version: "3.0.0"
  title: "Mandelbrot"
  termsOfService: "https://www.gsk.com/en-gb/terms-of-use/"
  contact:
    email: "william.wood@gsk.com"
host: "mandelbrot.stagek8s.gsk.com"
basePath: "/v1"
paths:
  /mandelbrot/compute:
    post:
      tags:
      - "mandelbrot"
      summary: "Iterate over pixels to determine if each is in the Mandelbrot set"
      description: ""
      operationId: "computeMandelbrot"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - in: "body"
        name: "mandelbrotCoords"
        description: "Mandelbrot coordinates to compute"
        required: true
        schema:
          $ref: "#/definitions/MandelbrotCoords"
      responses:
        200:
          description: "successful operation"
          schema:
            $ref: "#/definitions/MandelbrotResults"
        400:
          description: "Client Error"
          schema:
            $ref: "#/definitions/ApiFailureResponse"
        500:
          description: "Server Error"
          schema:
            $ref: "#/definitions/ApiFailureResponse"
      x-swagger-router-controller: "Mandelbrot"
  /mandelbrot/computeHP:
    post:
      tags:
      - "mandelbrot"
      summary: "Iterate over pixels to determine if each is in the Mandelbrot set,\
        \ using high precision arithmetic"
      description: ""
      operationId: "computeMandelbrotHP"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - in: "body"
        name: "mandelbrotCoords"
        description: "Mandelbrot coordinates to compute"
        required: true
        schema:
          $ref: "#/definitions/MandelbrotCoordsHP"
      responses:
        200:
          description: "successful operation"
          schema:
            $ref: "#/definitions/MandelbrotResults"
        400:
          description: "Client Error"
          schema:
            $ref: "#/definitions/ApiFailureResponse"
        500:
          description: "Server Error"
          schema:
            $ref: "#/definitions/ApiFailureResponse"
      x-swagger-router-controller: "Mandelbrot"
definitions:
  MandelbrotCoords:
    type: "object"
    required:
    - "columns"
    - "dx"
    - "maxIterations"
    - "rows"
    - "xmin"
    - "ymax"
    properties:
      xmin:
        type: "number"
        format: "f64"
      dx:
        type: "number"
        format: "f64"
      columns:
        type: "integer"
        format: "int32"
      ymax:
        type: "number"
        format: "f64"
      dy:
        type: "number"
        format: "f64"
      rows:
        type: "integer"
        format: "int32"
      maxIterations:
        type: "integer"
        format: "int32"
    example:
      xmin: -2.2
      dx: 0.15
      columns: 20
      ymax: -0.6
      rows: 1
      maxIterations: 100
  MandelbrotCoordsHP:
    type: "object"
    required:
    - "columns"
    - "dx"
    - "maxIterations"
    - "xmin"
    - "ymax"
    properties:
      xmin:
        type: "array"
        items:
          type: "integer"
      dx:
        type: "array"
        items:
          type: "integer"
      columns:
        type: "integer"
        format: "int32"
      ymax:
        type: "array"
        items:
          type: "integer"
      maxIterations:
        type: "integer"
        format: "int32"
    example:
      xmin:
      - 65534
      - 53636
      - 15149
      - 46726
      - 49809
      - 60517
      - 42557
      dx:
      - 0
      - 0
      - 0
      - 0
      - 1154
      - 23857
      - 47514
      columns: 20
      ymax:
      - 0
      - 19775
      - 19062
      - 35910
      - 16177
      - 55345
      - 21770
      maxIterations: 100
  MandelbrotResults:
    type: "array"
    items:
      type: "array"
      items:
        type: "integer"
  ApiFailureResponse:
    type: "object"
    properties:
      message:
        type: "string"
        enum:
        - "CLIENT ERROR"
        - "SERVER ERROR"
externalDocs:
  description: "GSK Software Engineering Careers"
  url: "https://www.gsk.com/en-gb/careers/careers-search/?q=software%20engineer"
